@media only screen and (max-width: 650px) {
    #airplane-img {
        width: 100vw !important;
    }
    #intro {
        justify-content: space-between !important;
    }
}

#intro {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 50%;
    height: 70vh;
    z-index: 5;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    transition: all 2s;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

#airplane-img {
    width: 70vh;
    position: relative;
    z-index: 10;
    pointer-events: none;
    animation: tilt 5s linear;
    animation-iteration-count: infinite;
}

@keyframes tilt {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(4deg);
    }
    75% {
        transform: rotate(2deg);
    }
}

#model-viewer {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: #e2f7ff;
    transition: all 2s;
    filter: blur(10px);
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #f953c6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b91d73, #f953c6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b91d73, #f953c6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#open-btn {
    width: 80%;
    padding: 20px 40px;
    background-color: green;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.social-btn {
    text-decoration: none;
    color: #2f0061;
    background-image: linear-gradient(transparent 0%, transparent 65%, #fc92f9 65%, #fc92f9 90%, transparent 90%, transparent);
    transition: all 0.5s;
}

.social-btn:hover {
    font-size: 1.7rem;
}